.read-anything-info-div {
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.read-anything-star-section {
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.read-anything-star-message {
	font-size: x-large;
}

.read-anything-status-bar-control {
	background: none;
	border: none;
	cursor: pointer;
	margin-right: 5px;
	margin-left: 5px;
	font-size: 8px;
}

.read-anything-status-bar-control:hover {
	color: var(--interactive-accent);
}
